.weui-dialog {
    position: fixed;
    z-index: 5000;
    width: 55%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:rgba(0,0,0,0);
    text-align: center;
    border-radius: 0px;
    overflow: hidden;
}
.weui-dialog__bd {
    padding:12px;
	background-color:rgba(0,0,0,0.42);
	border-radius: 8px;
	box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
	margin-bottom:10px;
}.weui-dialog__bd p{
    font-size: 13px;
    line-height:20px;
    color: fff;
	text-align:left;
	margin: 0px;
}
.weui-dialog__bd p img{
	width:20px;
	height:20px;
	vertical-align: middle;
    display: inline-flex;
	float:right;
 }
 .weui-dialog__bd p span{
	float:right;
 }
.icon-bottom img{
	width:30px;
	height:30px;
	vertical-align: middle;
    display: inline-flex;
 }
