.indexPage .content .cont .left .tit {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 4px solid #0164b5;
    padding-left: 20px;
}

.indexPage .content .cont .left dl {
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    height: auto;
    overflow: hidden;
    padding: 10px 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.indexPage .content .cont .left dl.dl_bg {
    background-color: #f2f2f2;
    height: 28px;
    line-height: 28px;
    margin-top: 5px;
    border-bottom: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.indexPage .content .cont .left dl.dl_bg dt {
    padding-left: 20px
}

.indexPage .content .cont .left dl dt {
    width: 60px;
    float: left;
    display: inline-block;
    padding-left: 10px
}

.indexPage .content .cont .left dl dd {
    display: inline-block
}

.indexPage .content .cont .left dl dd span:first-child {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    float: left
}

.indexPage .content .cont .left dl dd span:last-child {
    float: right;
}

.indexPage .content .cont .left dl dd span img {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

.w_182 {
    width: 212px;
    float: left;
}

.w_182 ul {
    height: 600px
}

.w_182 ul li {
    margin-bottom: 10px;
    position: relative
}

.w_182 ul li .titile {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
    color: #fff
}

.w_182 ul li.active {
    background-repeat: no-repeat;
    background-position: right center
}

.w_182 ul li img {
    border-radius: 8px;
    display: block
}

.w_630 {
    width: 630px;
    float: right;
    margin: 20px 20px 20px 0px;
    text-align: center;
    font-size: 16px;
    color: #666
}
.w_630 img{ border-radius: 8px}