.commonmap {
    position: absolute;
    width: 100%;
    background: none;
    top:0;
    left: 0;
    z-index: 1
}

.indexPage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
}
.mainmap{
    flex-grow: 1;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}

.mainmap .maindata{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.mainmap .maindata ul{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(180deg, #1191d2, #065ec7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.mainmap .maindata ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
    flex-grow: 1;
    color: #FFF;
    font-size: 12px;
    padding: 10px 0;
}
.mainmap .maindata ul li span{
    line-height: 30px;
}
.mainmap .maindata ul li span:last-child{
    font-size: 14px;
    font-weight: 600;
}
.mainmap .maindata ul li img{
    width: 30px;
}
.mainmap .mapcanver{
    position: absolute;
    z-index: 10001;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, #1297d2, #027db7);
    color: #FFF;
    height: 40px;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    padding-right: 15px;
    min-width: 120px;
}
.mainmap .mapcanver.point{
    top: 55px;
    left: 10px;
}
.mainmap .mapcanver img{
    width: 26px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}
.mainmap .mapcanver span{
    display: block;
    flex-grow: 1;
}
