.indexPage .content .tita {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 4px solid #0164b5;
    margin: 20px 20px 0px;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tit_left {
    display: inline-block;
    width: 340px;
    font-size: 14px;
    text-align: left;
    font-weight: normal
}

.tit_left img,
.tit_right img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.tit_right {
    display: inline-block;
    width: 340px;
    font-size: 18px;
    text-align: right
}

.tt_right {
    display: inline-block;
    margin: 0px 0px;
}

.pt0 {
    padding-top: 0px !important;
}

.h_520 {
    height: 520px !important;
}

.h_625 {
    height: 625px;
    overflow-y: scroll
}

.scroll_bar::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    background-color: #fff;
}

.scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f2f2f2;
}