.shuju_centet {
    padding: 20px;
    width: 1160px;
}

.shuju {
    width: 100%;
    margin: auto;
    max-height: 500px;
    overflow-y: scroll;
}

.shuju li {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #eaf5f9
}

.shuju li:nth-child(2n+0) {
    background: #fff;
}

.shuju li em,
.shuju li span {
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    color: #666;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.shuju li em {
    text-indent: 30px;
    font-style: normal;
    text-align: left;
}

.bge5 {
    background: #f5f5f5 !important;
}

.zhyj_box {
    width: 550px;
    float: left;
    padding: 20px 0px
}

.zhyj {
    width: 163px;
    float: left;
    margin: 10px;
}

.zhyj img {
    margin: auto;
    width: 140px;
    height: 140px;
    display: block;
}

.zhyj p {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.tt_right li {
    background-color: #0164b5;
    color: #fff;
    width: 130px;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    margin-right: 4px;
}

.tt_right li:last-child {
    margin-right: 0px
}

.shuju_titright {
    float: right;
    font-size: 14px;
    color: #666;
    padding-top: 10px
}

.shuju_titright span {
    color: #5094cb;
    margin: 0px 10px
}

.shuju_titleft {
    display: inline-block;
}

.shuju_titleft span {
    font-size: 18px;
    width: 130px;
    text-align: center;
    display: inline-block;
    color: #999;
    padding-bottom: 20px
}

.shuju_titleft span:last-child {
    color: #333
}

.shuju_titleft span.active {
    color: #333;
    background-position: bottom center;
    background-repeat: no-repeat
}

.shuju_tit {
    padding: 20px 0px 0px;
    border-bottom: 4px solid #0164b5;
}





