.monitorPage {
    padding-top: 80px;
}

/* .meterchart .chart1 {
    left: 15px;
    top: 0;
}

.meterchart .chart2 {
    right: 15px;
    top: 0;
}

.meterchart .chart3 {
    top: 110px;
    left: 15px;
}

.meterchart .chart4 {
    right: 15px;
    top: 110px;
} */

.meter .title {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 10px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    color: #0164b5;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.meter .title h2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 0px;
    font-size: 16px;
    margin-bottom: 0px
}

.data_list {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.data_list li {
    width: 50%;
    padding: 15px 10px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    position: relative;
}
.data_list li span{ padding-left: 10px}
.data_list li span:after {
    content: "";
    width: 2px;
    background-color: #1792d0;
    top: 30px;
    left: 10px;
    height: 10px;
    position: absolute;
}
.data_list li span:last-child{ font-size: 22px}
.meter {
    margin: 10px 0;
    background: #FFF;
}

.windcontrol {
    position: relative;
    height: 160px;
    margin: 10px 10px;
    border-bottom: 1px solid #e5e5e5
}

.windcontrol .wind1,
.windcontrol .wind2,
.windcontrol .wind3 {
    position: absolute;
    width: 100%;
}

.windcontrol .windcontroltxt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 10px 30px;
    text-align: center
}

.windcontrol .windcontroltxt p {
    flex-grow: 1;
    text-align: left;
    margin-bottom: 5px
}

.windcontrol .windcontroltxt span {
    display: block;
    color: #fff;
    background-color: #1792d0;
    border-radius: 30px
}

.windcontrol .windcontroltxt span:first-child {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background-color: transparent;
    margin-bottom: 5px
}

.monitordata {
    margin-bottom: 10px;
}

.monitordata_tit {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
}

.monitordata .tit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.monitordata .tit span,
.monitordata ul li span {
    display: block;
    text-align: center;
    flex-grow: 1;
    color: #999;
    line-height: 36px;
}

.monitordata ul li span {
    color: #666;
    line-height: 40px;
}

.monitordata ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: #FFF;
}

.monitorfiller {
    margin-bottom: 10px;
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 40px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.monitorfiller > div {
    font-size: 12px;
    flex-grow: 1;
}

.monitorfiller > div.l {
    text-align: center;
    line-height: 40px;
    color: #0164b5
}

.monitorfiller > div.lselect {
    text-align: center;
    line-height: 40px;
    color: #09d975
}

.monitorfiller > div.d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.monitorfiller > div.d span {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    color: #0164b5
}

.monitorfiller > div.d span.search {
    width: 22px;
    height: 22px;
    background: #0164b5;
    border-radius: 30px;
    flex-shrink: 0;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0px 5px;
    flex-grow: 0;
}

.monitorfiller .search img {
    width: 16px;
}

.monitorreport .li {
    background: #FFF;
}

.monitorreport .li .tit {
    background: #fafafa;
    border-top: 1px solid #EEE;
    line-height: 36px;
    color: #0164b5;
    padding-left: 10px;
}