.datameterPage {
    padding-top: 80px;
    padding-bottom: 80px;
}

.datameterPage .fillerhead {
    color: #FFF;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
}

.datamonitorfiller .fillerhead img {
    width: 20px;
    margin-right: 5px;
}

.datamonitorfiller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 10px;
    background: #FFF;
    border-bottom: 1px solid #EEE;
}

.datamonitorfiller .fillerhead {
    color: #333;
}

.datamonitorfiller .d {
    width: 90px;
    height: 26px;
    text-align: center;
    background: linear-gradient(180deg, #13b059, #019b45);
    line-height: 26px;
    color: #FFF;
    margin-right: 10px;
    border-radius: 26px;
}

.datamonitordata ul {
    border-top: 1px solid #EEE;
    background: #FFF;
}

.datamonitordata div.tt,
.datamonitordata ul li.tt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 30px;
    position: relative;
    background: #FFF;
    padding: 0 25px 0 15px;
    border-bottom: 1px solid #EEE;
}

.datamonitordata div.tt {
    margin-bottom: 10px;
}

.datamonitordata div.tt:before,
.datamonitordata ul li.tt:before {
    content: "";
    background: #0164b5;
    width: 5px;
    height: 20px;
    top: 5px;
    left: 0;
    position: absolute;
}

.datamonitordata ul li.dd {
    padding-top: 5px;
}

.datamonitordata ul li.dd>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.datamonitordata ul li.dd>div span {
    display: block;
    text-align: center;
    flex-grow: 1;
    text-align: center;
    width: 16.66%;
}

.datamonitordata ul li.dd>div.t1 span {
    color: #999;
}

.datamonitordata ul li.dd>div {
    padding-bottom: 5px;
}

.datamonitordata ul li .meter {
    margin: 0;
}

.videodata img {
    width: 100%;
}

.videodata li.tt {
    background: #FFF;
    margin-bottom: 12px;
}

.videodata li.tt .li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 15px;
}

.videodata li.tt .li span.runing {
    display: inline-block;
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.videodata li.tt .li span.runing:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #009a44;
    border-radius: 14px;
    margin-right: 5px;
}