.indexPage .content .cont .left dl {
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    height: auto;
    overflow: hidden;
    padding: 10px 10px;
}

.indexPage .content .cont .left dl.dl_bg {
    background-color: #f2f2f2;
    height: 28px;
    line-height: 28px;
    margin-top: 5px;
    border-bottom: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.indexPage .content .cont .left dl.dl_bg dt {
    padding-left: 20px
}

.indexPage .content .cont .left dl dt {
    width: 60px;
    float: left;
    display: inline-block;
    padding-left: 10px
}

.indexPage .content .cont .left dl dd {
    display: inline-block
}

.indexPage .content .cont .left dl dd span:first-child {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    float: left
}

.indexPage .content .cont .left dl dd span:last-child {
    float: right;
}

.indexPage .content .cont .left dl dd span img {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

.center_right {
    width: 875px;
    float: right;
    padding: 20px 0px 0px
}

.center_right .tt {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 4px solid #0164b5;
}

.center_right .tt .tt_right {
    display: inline-block;
    float: right
}

.center_right .tt .tt_right li {
    background-color: #0164b5;
    color: #fff;
    width: 130px;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    height: 34px;
    line-height: 34px;
}

.center_right dl {
    font-size: 16px;
    height: auto;
    overflow: hidden;
    padding: 10px 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.center_right dl:nth-child(even) {
    background-color: #eaf5f9
}

.center_right dl.dl_bg {
    background-color: #f2f2f2;
    height: 28px;
    line-height: 28px;
    margin-top: 5px;
    border-bottom: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.center_right dl.dl_bg dt {
    padding-left: 20px
}

.center_right dl dt {
    width: 55px;
    display: inline-block;
    padding-left: 10px
}

.center_right dl dd {
    display: inline-block;
    width: 780px;
}

.center_right dl dd span {
    width: 78px;
    display: inline-block;
    text-align: center;
}

.small {
    font-size: 12px;
    text-align: center
}


.monitorPage {
    padding-top: 80px;
}

.meterchart {
    position: relative;
    height: 420px;
}

.meterchart .chartli {
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
}

.meterchart .chart1 {
    left: 15px;
    top: 0;
}

.meterchart .chart2 {
    right: 15px;
    top: 0;
}

.meterchart .chart3 {
    top: 110px;
    left: 15px;
}

.meterchart .chart4 {
    right: 15px;
    top: 110px;
}

.meter .title {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 0;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    color: #0164b5
}

.meter {
    margin: 10px 0;
    background: #FFF;
}

.windcontrol {
    position: relative;
    width: 40%;
    left: 30%;
    height: 100%;
}

.windcontrol .wind1,
.windcontrol .wind2,
.windcontrol .wind3 {
    position: absolute;
    width: 100%;
}

.windcontrol .windcontroltxt {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

.windcontrol .windcontroltxt p {
    flex-grow: 1;
    text-align: center;
}

.windcontrol .windcontroltxt span {
    display: block;
    color: #999;
}

.windcontrol .windcontroltxt span:first-child {
    font-size: 16px;
    font-weight: 600;
    color: #000
}

.monitordata {
    margin-bottom: 10px;
}

.monitordata .tit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: #fafafa;
    border-top: 1px solid #EEE;
}

.monitordata .tit span,
.monitordata ul li span {
    display: block;
    text-align: center;
    flex-grow: 1;
    color: #999;
    line-height: 36px;
}

.monitordata ul li span {
    color: #666;
    line-height: 40px;
}

.monitordata ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: #FFF;
}

.monitorfiller {
    margin-bottom: 10px;
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 40px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.monitorfiller>div {
    font-size: 12px;
    flex-grow: 1;
}

.monitorfiller>div.l {
    text-align: center;
    line-height: 40px;
    color: #0164b5
}

.monitorfiller>div.d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.monitorfiller>div.d span {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    color: #0164b5
}

.monitorfiller>div.d span.search {
    width: 22px;
    height: 22px;
    background: #0164b5;
    border-radius: 30px;
    flex-shrink: 0;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0px 5px;
    flex-grow: 0;
}

.monitorfiller .search img {
    width: 16px;
}

.monitorreport .li {
    background: #FFF;
}

.monitorreport .li .tit {
    background: #fafafa;
    border-top: 1px solid #EEE;
    line-height: 36px;
    color: #0164b5;
    padding-left: 10px;
}
.ant-progress-circle .ant-progress-text {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
}