.pageheader {
	background: linear-gradient(180deg, #017cb6, #1297d1);
	position: relative;
	height: 80px;
	line-height: 50px;
	font-size: 18px;
	color: #FFF;
	padding-top: 30px;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10000;
}
.pageheader .leftlnk{
	position: absolute;
	width: 50px;
	bottom: 0;
	height: 50px;
	text-align: center;
	display: -webkit-box;
    display: -ms-flexbox;
   	display: flex;
   	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.pageheader .leftlnk img{
	width: 20px;
}