body {
    color: #333;
    font-size: 14px !important;
    font-family: microsoft yahei, Arial, 'microsoft yahei';
    line-height: inherit !important;
    position: relative;
    overflow: auto;
}

label,
input,
select,
textarea {
    line-height: normal;
    outline: none;
    -webkit-appearance: none;
}

* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
em,p {
    margin: 0px !important;
    padding: 0px;
    line-height: 1.4;
    font-weight: normal;
    font-style: normal
}

ul,
li,dl,dd,dt {
    list-style: none;
    padding: 0px;
    margin: 0px  !important;
}

input {
    border: none;
    outline: none
}
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
a img {
    border: 0;
}

.indexPage .content {
    width: 1200px;
    margin: auto;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    background: #FFF;
    padding-bottom: 20px;
}

.indexPage .content .indextit {
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
    border-bottom: 1px solid #d5d5d5;
}

.indexPage .content .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.indexPage .content .cont .left {
    width: 285px;
    padding: 20px;
}

.indexPage .content .cont .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.indexPage .content .cont .right {
    flex-grow: 1;
    align-self: flex-start;
    padding: 20px;
}

.datachart {
    padding: 20px 0;
    margin: 0 20px;
    height: auto;
    overflow: hidden
}

.datachart ul li {
    width: 25%;
    float: left
}

.datachart ul li .tt {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.datachart ul li .chart img {
    width: 100%;
}

.proinfo .info {
    color: #999;
}

.proinfo .wamp {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999;
}

.proinfo .infocontent {
    position: fixed;
    z-index: 99999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.infocontenast {
    width: 400px;
    height: 600px;
    margin: 200px auto;
}

.infocontenasta {
    background: #FFF;
    border-radius: 6px;
    padding-top: 10px;
}

.proinfo .infocontent .tit {
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.proinfo .infocontent img {
    width: 100%;
}

.proinfo .infocontent .info {
    padding: 0 20px;
    font-size: 12px;
}

.proinfo .infocontent .closediv {
    text-align: center;
    margin-top: 30px
}

.proinfo .infocontent .closediv img {
    width: 46px;
}

.xjl_loginh{ height:280px}
.xjl_login{ text-align:center; width:100%; height:auto; overflow:hidden; margin-bottom:20px}
.xjl_login p{ border-bottom:1px solid #e5e5e5; padding:10px; margin-bottom:10px; font-size:16px}
.xjl_login p:last-child{ border-bottom:0px}
.xjl_loginbtn span{ background-color:#0164b5; color:#fff; border-radius:4px; text-align:center; padding:15px; display:block; margin-bottom:15px}